- const testimonalsCliensData = [{clientName: "@Someone famous", tistimony: "ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque", img: {src: "../img/team/client.jpg", alt: ""}, clientName: "@Someone famous"}]

mixin testimonialsClientBox(dataClient)
    for clientData in dataClient
        .testimonials-clients-box
            q #{clientData.tistimony}
            .testimonials-clients-box-client
                .testimonials-clients-box-client-img
                    img(src=clientData.img.src, alt=clientData.img.alt)
                .testimonials-clients-box-client-info
                    a.testimonials-clients-box-client-info__name(href="#!") #{clientData.clientName}
                    p #{clientData.clientName}